#title {
  font-size: 100px;
  text-align: center;
}
#luka {
  width: 400px;
  height: 300px;
  padding-left: 300px;
  text-align: center;
}
#chiti {
  width: 400px;
  height: 300px;
  text-align: center;
  padding-left: 800px;
}
#lashu {
  width: 400px;
  height: 300px;
  text-align: center;
  padding-left: 300px;
}
#marja {
  width: 400px;
  height: 300px;
  text-align: center;
  padding-left: 800px;
}
#uzi {
  width: 400px;
  height: 300px;
  text-align: center;
  padding-left: 300px;
}
.saxeli {
  font-size: 20px;
}
